#main-container{
    display: flex;
}

#product-list-container{
    
}

#product-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: auto;
}

.product{
    
}

.add-cart-btn{
    border: 2px solid #C83C0E;
    border-radius: 1.5em;
}

#cart{
    display: flex;
    flex-direction: column;
}