:root{
    --red: hsl(14, 86%, 42%);
    --green: hsl(159, 69%, 38%);
    --rose50: hsl(20, 50%, 98%);
    --rose100: hsl(13, 31%, 94%);
    --rose300: hsl(14, 25%, 72%);
    --rose400: hsl(7, 20%, 60%);
    --rose500: hsl(12, 20%, 44%);
    --rose900: hsl(14, 65%, 9%);
    --button-transition: 0.3s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body{
    background-color: var(--rose100);
    font-family: "Red Hat Text", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
}

hr{
    margin-top: 1em;
    margin-bottom: 1em;
}

#main-container{
    display: grid;
    grid-template-columns: auto auto;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 4em 2em;
    gap: 2em;
    grid-template-columns: 2fr 1fr;
}

#main-title{
    padding-bottom: 0.5em;
}

#product-list-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#product-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: auto;
    gap: 1.5em;
}

.product-img-container{
    padding-bottom: 2.5em;
    position: relative;
}

.product-img{
    max-width: 100%;
    height: auto;
    border-radius: 0.5em;
}

.add-cart-btn{
    position: absolute; 
    left: 50%;
    transform-origin: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    background-color: var(--rose50);
    display: flex;
    gap: 0.5em;
    align-items: center;
    border: 1px solid var(--rose900);
    border-radius: 5em;
    text-align: center;
    white-space: nowrap;
    font-weight: 500;
    width: fit-content;
    padding: 0.6em 1.5em;
    cursor: pointer;
    transition: var(--button-transition);
}

.add-cart-btn p{
    margin: 0;
}

.add-cart-btn:hover{
    background-color: var(--red);
    color: var(--rose50);
}

.add-cart-btn svg g{
    transition: var(--button-transition);
}

.add-cart-btn:hover svg g{
    fill: var(--rose50);
}

.quantity-btn{
    border: 1px solid var(--rose50);
    border-radius: 50%;
    padding: 0.1em 0.5em;
}

#cart{
    display: flex;
    flex-direction: column;
    background-color: var(--rose50);
    height: fit-content;
    border-radius: 0.5em;
    padding: 1.5em;
}

#cart-your-cart{
    padding-bottom: 1.5em;
}

#cart-placeholder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5em;
}

#cart-placeholder img{
    width: fit-content;
}

.cart-prod-title{
    margin: 0;
}

.cart-prod-detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}

.cart-prod-detail p{
    margin: 0;
}

.remove-prod-btn{
    border: 1px solid var(--rose900);
    border-radius: 50%;
    padding: 0.1em 0.5em;
    cursor: pointer;
}

#cart-total{
    display: none;
    justify-content: space-between;
    padding-bottom: 1em;
}

#total-amount{

}

#confirmed-order{
    display: flex;
    flex-direction: column;
}

#confirmed-order-container{
    background-color: var(--rose100);
    padding: 1.5em;
}

#confirm-order-section{
    display: none;
    flex-direction: column;
    gap: 1.5em;
}

#cart-carbon-neutral{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--rose100);
    padding: 1em;
    gap: 0.5em;
}

#confirm-order-btn{
    display: flex;
    justify-content: center;
    background-color: var(--red);
    color: var(--rose50);
    border-radius: 5em;
    padding: 1em;
    width: 100%;
    cursor: pointer;
}

#modal-container{
    display: none;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    justify-content: center;
    align-items: center;
}

.modal-prod{

}

.modal-thumbnail{
    border-radius: 0.5em;
    height: min-content;
    width: 60px;
}



.cart-prod{
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    align-items: center;
    gap: 1em;
}

.cart-prod-desc{
    width: 100%;
}

.cart-prod-total{
    text-align: right;
}

#order-modal{
    display: flex;
    flex-direction: column;
    padding: 2em;
    background-color: var(--rose50);
    border-radius: 0.5em;
    gap: 1em;
}

#modal-total{
    display: flex;
    justify-content: space-between;
    background-color: var(--rose100);
}

#start-new-btn{
    border-radius: 3.5em;
    color: var(--rose50);
    background-color: var(--red);
    padding: 1em 1em;
    text-align: center;
    cursor: pointer;
}

.attribution{
    padding-top: 2.5em;
}

/* Media queries */

/* Tablet view */

@media only screen and (max-width: 768px){
    #main-container{
        grid-template-columns: 1fr;
    }

    #product-list{
        grid-template-columns: 1fr 1fr 1fr;
    }
}


/* Mobile view */
@media only screen and (max-width: 480px){
    #main-container{
        grid-template-columns: 1fr;
    }

    #product-list{
        grid-template-columns: 1fr;
    }
}